// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');



// // Размеры
// $containerWidth: 1100px;
// $baseFonts: 16px;

// Цвета
$red: #E01F3D;
$blackText: #292929;

html {
    font-size: $baseFonts;

    // @include tablets {
    //     font-size: $baseFonts - 1px;
    // }

    // @include phones {
    //     font-size: $baseFonts - 2px;
    // }
}

html, body {
    height: 100%;
}

body {

    font-family: 'Alegreya Sans', sans-serif;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothong: grayscale;
    position: relative;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    width: 95%;
    max-width: $containerWidth;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
} 

table {
    border-collapse: collapse;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

footer {
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}