@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
html, body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothong: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 1120px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 650px;
  color: #292929;
  position: relative;
}
.hero:before {
  position: absolute;
  content: "";
  width: 46px;
  height: 10px;
  background: #C4C4C4;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: -5px;
  right: 10%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px 0 52px 0;
  background: url(./img/hero-ellipse.png) right center/50% auto no-repeat;
}

.hero__title-section {
  width: 40%;
}

.hero__main-title {
  font-size: 48px;
  color: #292929;
  font-family: "Play", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.hero__title-desc {
  font-size: 21px;
  padding-right: 25%;
  margin-bottom: 36px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link,
.phone-number {
  text-decoration: none;
  font-size: 18px;
  font-family: "Play", sans-serif;
}
.menu__link:hover,
.phone-number:hover {
  color: #CA1B36;
}

.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 12px;
  height: 12px;
  margin: 0 6px 0 0;
}

.long-chars,
.long-chars__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.long-char__icon {
  margin: 0 11px 0 0;
}

.long-char__text {
  font-family: "Play", sans-serif;
  width: 114px;
  line-height: 18px;
  font-weight: 400;
}

.long-chars__item {
  margin: 0 20px 0 0;
}
.long-chars__item:last-child {
  margin: 0;
}

.btn {
  background-color: #E01F3D;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Play", sans-serif;
  width: 163px;
  height: 54px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: bold;
  border: none;
}
.btn--default:hover {
  background-color: #CA1B36;
}
.btn--theme--transparent {
  background: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-weight: normal;
  background-color: none;
}
.btn--theme--transparent:hover {
  color: #E01F3D;
  background-color: none;
  background: none;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #292929;
  position: relative;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
}

.headline {
  text-align: center;
  font-family: "Play", sans-serif;
  padding: 0 23%;
}

.headline__title {
  margin-bottom: 25px;
}

.headline__subtitle {
  color: #666666;
  margin-bottom: 62px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefit {
  width: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  padding: 0 8%;
}
.benefits__item::before {
  position: absolute;
  top: 25%;
  right: 0;
  content: url(../../img/benefit/separator.svg);
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit__image {
  margin-bottom: 24px;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__text {
  text-align: center;
  font-family: "Play", sans-serif;
}

.benefit__title {
  color: #292929;
  font-size: 24px;
  font-weight: bold;
}

.benefit__desc > p {
  color: #666666;
}

.benefits-section {
  position: relative;
}
.benefits-section::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 34px solid #E01F3D;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  bottom: -17px;
  left: 60px;
}

.reviews-section {
  position: relative;
}
.reviews-section::before {
  content: "";
  position: absolute;
  background: #868686;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  bottom: -17.5px;
  left: 80px;
}

.reviews {
  position: relative;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px;
  color: #292929;
}

.review__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Play", sans-serif;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 40px;
}

.reviews__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 22px;
}

.reviews__text > p {
  color: #666666;
  margin-bottom: 36px;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
}

.interective-avatar {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 6px solid transparent;
}
.interective-avatar--active {
  border: 6px solid #E01F3D;
}

.interective-avatar-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.interective-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 18px 11px;
  border: solid 3px transparent;
}
.form__input--textarea {
  height: 152px;
  resize: none;
}
.form__input:focus {
  border: solid 3px #E01F3D;
  outline: none;
  border-radius: 5px;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order-section {
  background: url(./img/order/order.png) no-repeat;
  background-size: cover;
  color: #fff;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 5px;
}
.radio--checkbox .radio__visible::before {
  background: url(../../img/order/check.svg) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
  margin-bottom: 17px;
}
.radio__visible:last-child {
  margin-right: 0;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 13px;
  height: 13px;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 15px;
}
.radio__title:last-child {
  margin-right: 15px;
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__btns .btn {
  margin-right: 10px;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link::before {
  content: "";
  background: #E01F3D;
  opacity: 1;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}