@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
.hamburger {
  width: 24px;
  height: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothong: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 40.625rem;
  color: #292929;
  position: relative;
}
.hero:before {
  position: absolute;
  content: "";
  width: 2.875rem;
  height: 0.625rem;
  background: #C4C4C4;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: -0.3125rem;
  right: 10%;
}
@media screen and (max-width: 768px) {
  .hero:before {
    background: #858585;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0 3.25rem 0;
  background: url(../../img/hero-ellipse.png) right 5% center/60% no-repeat;
  background: url(../../../WebBeginer/img/hero-ellipse.png) right 5% center/60% no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
    padding: 1.5rem 0 0rem 0;
  }
}

.hero__title-section {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    text-align: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 0 2.5rem;
    line-height: 3.25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__title-section::before {
    content: "";
    width: 20.1875rem;
    height: 20.1875rem;
    background: url(../../img/hero-ellipse--tablets.png) center center/contain no-repeat;
    background: url(../../../WebBeginer/img/hero-ellipse--tablets.png) center center/contain no-repeat;
    margin: 0 0 3rem 0;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-624.9375rem);
            transform: translateX(-624.9375rem);
  }
}

.hero__main-title {
  font-size: 3rem;
  line-height: 1.08;
  color: #292929;
  font-family: "Play", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    margin-bottom: 0.625rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    line-height: 2.25rem;
    font-size: 2rem;
    padding: 0 5%;
  }
}

.hero__title-desc {
  font-size: 1.3125rem;
  padding-right: 12%;
  margin-bottom: 2.25rem;
  font-family: "Play", sans-serif;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 23%;
    line-height: 1.5625rem;
    margin-bottom: 2.1875rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    font-size: 1.125rem;
    padding: 0 2%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-icon {
  fill: #E01F3D;
}

.menu {
  margin: 0 1.875rem;
  padding: 8px 0 0 0;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.6875rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link,
.phone-number {
  text-decoration: none;
  font-size: 1.125rem;
  font-family: "Play", sans-serif;
  white-space: nowrap;
}
.menu__link:hover,
.phone-number:hover {
  color: #CA1B36;
}

.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0 0 0;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__icon-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.25rem 0 0 0;
  margin: 0 0.5rem 0 0;
}

.long-chars,
.long-chars__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.long-char__icon {
  margin: 0 0.6875rem 0 0;
}

.long-char__text {
  font-family: "Play", sans-serif;
  width: 7.125rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.long-chars__item {
  margin: 0 1.25rem 0 0;
}
.long-chars__item:last-child {
  margin: 0;
}

.btn {
  background-color: #E01F3D;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Play", sans-serif;
  padding: 1.3125rem 4rem;
  width: 10.9375rem;
  height: 4rem;
  border-radius: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: bold;
  border: none;
}
.btn--default {
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .btn--default {
    font-size: 19px;
  }
}
.btn--default:hover {
  background-color: #CA1B36;
}
.btn--theme--transparent {
  background: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-weight: normal;
  background-color: none;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #E01F3D;
  background-color: none;
  background: none;
}
@media screen and (max-width: 768px) {
  .btn--theme--transparent {
    padding: 1.3125rem 0;
    width: 4.375rem;
  }
}
@media screen and (max-width: 480px) {
  .btn--theme--transparent {
    width: 4.375rem;
  }
}

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #292929;
  position: relative;
  font-family: "Play", sans-serif;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 3.75rem;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .section__title {
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2rem;
  }
}

.headline {
  text-align: center;
  font-family: "Play", sans-serif;
  padding: 0 23%;
}
@media screen and (max-width: 768px) {
  .headline {
    padding: 0 10%;
  }
}
@media screen and (max-width: 480px) {
  .headline {
    padding: 0 3%;
  }
}

.headline__title {
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 2rem;
    margin: 0 0 0.6875rem 0;
  }
}

.headline__subtitle {
  color: #666666;
  margin-bottom: 3.875rem;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    padding: 0 2%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    font-size: 1rem;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.benefit {
  width: 17.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0 0.625rem;
    margin: 0 0 1.9375rem;
  }
  .benefit:last-child {
    margin: 0;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  padding: 0 8%;
}
@media screen and (max-width: 768px) {
  .benefits__item {
    padding: 0;
  }
}
.benefits__item::before {
  position: absolute;
  top: 25%;
  right: 0;
  content: url(../../img/benefit/separator.svg);
  content: url(../../../WebBeginer/img/benefit/separator.svg);
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit__image {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin: 0 0.75rem 0 0;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    width: 50%;
    height: 50%;
  }
}

.benefit__icon {
  width: 4.25rem;
  height: 4.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__text {
  text-align: center;
  font-family: "Play", sans-serif;
}
@media screen and (max-width: 480px) {
  .benefit__text {
    text-align: start;
  }
}

.benefit__title {
  color: #292929;
  font-size: 1.5rem;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin: 0 0 0.375rem 0;
  }
}

.benefit__desc > p {
  color: #666666;
}

.benefits-section {
  position: relative;
}
.benefits-section::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1.0625rem solid transparent;
  border-right: 1.0625rem solid transparent;
  border-bottom: 2.125rem solid #E01F3D;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  bottom: -1.0625rem;
  left: 3.75rem;
}

.reviews-section {
  position: relative;
}
.reviews-section::before {
  content: "";
  position: absolute;
  background: #868686;
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  bottom: -1.09375rem;
  left: 5rem;
}

.reviews {
  position: relative;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.625rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: 3.5rem 1.3125rem 2.5rem 1.3125rem;
  }
}

.review__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Play", sans-serif;
}
@media screen and (max-width: 768px) {
  .review__display-inner {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .reviews__switcher {
    position: absolute;
    top: calc(100% + 1.75rem);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.reviews__avatar {
  width: 15.8125rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.90625rem;
    height: 8.25rem;
    margin: 0 0 2rem 0;
  }
}
@media screen and (max-width: 480px) {
  .reviews__avatar {
    margin: 0 0 21px 0;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin: 0;
  }
}

.reviews__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1.375rem;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin: 0 0 1rem 0;
  }
}
@media screen and (max-width: 480px) {
  .reviews__title {
    margin: 0 0 0.75rem 0;
  }
}

.reviews__text > p {
  color: #666666;
  margin-bottom: 2.25rem;
}
@media screen and (max-width: 768px) {
  .reviews__text > p {
    margin: 0 0 1rem 0;
  }
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
}

.interective-avatar {
  width: 4.625rem;
  height: 4.625rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 0.375rem solid transparent;
}
.interective-avatar--active {
  border: 0.375rem solid #E01F3D;
}

.interective-avatar-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.interective-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin: 0 0 0 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.125rem;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0.75rem;
  }
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__block:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__block {
    margin-right: 1.125rem;
  }
}

.form__input {
  width: 100%;
  padding: 0.5rem 0.6875rem;
  border: solid 0.1875rem transparent;
}
.form__input--textarea {
  height: 9.5rem;
  resize: none;
}
@media screen and (max-width: 480px) {
  .form__input--textarea {
    height: 5.125rem;
  }
}
.form__input:focus {
  border: solid 0.1875rem #E01F3D;
  outline: none;
  border-radius: 0.3125rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    border-radius: 0.3125rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.order-section {
  background: url(../../img/order/order.png);
  background: url(../../../WebBeginer/img/order/order.png);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0.3125rem;
}
.radio--checkbox .radio__visible::before {
  background: url(../../img/order/check.svg) center center no-repeat;
  background: url(../../../WebBeginer/img/order/check.svg) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.625rem;
  margin-bottom: 1.0625rem;
}
.radio__visible:last-child {
  margin-right: 0;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 0.8125rem;
  height: 0.8125rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 0.9375rem;
}
.radio__title:last-child {
  margin-right: 0.9375rem;
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .form__btns {
    margin: 0.625rem 0 0 0;
  }
}

.form__btns .btn {
  margin-right: 0.625rem;
}
@media screen and (max-width: 768px) {
  .form__btns .btn {
    margin-right: 1.25rem;
  }
  .form__btns .btn:last-child {
    margin-right: 0;
  }
}

.fixed-menu {
  position: fixed;
  top: 45%;
  right: 3%;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link::before {
  content: "";
  background: #E01F3D;
  opacity: 1;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}