.hero {
    background-color: $greyBg;
    height: 100vh;
    min-height: 650px;
    color: $blackText;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        width: 46px;
        height: 10px;
        background: #C4C4C4;
        transform: rotate(-45deg);
        bottom: -5px;;
        right: 10%;

    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 52px 0;
    background: url(./img/hero-ellipse.png) right center / 50% auto no-repeat;
}

.hero__title-section {
    width: 40%;
}

.hero__main-title {
    font-size: 48px;
    color: $blackText;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    // width: 40%;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.hero__title-desc {
    font-size: 21px;
    padding-right: 25%;
    margin-bottom: 36px;
}



