.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    

    &--checkbox {
        .radio__visible {
            border-radius: 5px ;

            &::before {
                background: url(../../../WebBeginer/img/order/check.svg) center center no-repeat;
            }
        }

        
    }
}

.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &::before {
            display: block;
        }

    }
}

.radio__visible {
    width: 25px;
    height: 25px;
    position: relative;
    border-radius:50%;
    background: #fff;
    margin-right: 10px;
    margin-bottom: 17px;

    &:last-child {
        margin-right: 0; 

    }

    &::before {
        content:'';
        display: none;
        width: 13px;
        height: 13px;
        background: $redBtn;
        border-radius:50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.radio__title {
    margin-right: 15px;

    &:last-child {
        margin-right: 15px;
    }
}

.form__btns {
    display: flex;
}

.form__btns .btn {
    margin-right: 10px;
}